@import '~./var.styl';

#app
  .header
      width 100%
      height 74px
      background-color #f7f7f7
      .header_contain
          width 1200px
          margin 0 auto
          .menu
              float right
              .menu_item
                  width 100px
                  height 74px
                  line-height 74px
                  text-align center
                  float left
                  cursor pointer
          .active
              color #0052BD
  .main
    font-size 30px
    color #0052BD