$main_color = #3C68EB    // 主题色
$nav_font_color = #0052BD // 导航激活色
$orange_color = #ff7200  // 警告色
$red_color = #ff2a00     // 危险色
$white_color = #ffffff
$bg_color = #f7f7f7      // 背景色
$black_color = #333
$border_color = #595959   // 边框色

$font_grey_color = #666
$font_light_color = #999
$black_font_color = #262626
